<html>
	<head>
		<title>Bitumble</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body class="container">
		<div class="row">
			<h1><span style="color:steelblue;">BiT</span>umble</h1>
		</div>
		<div class="row">
			<h2>Request received!</h2>
			<p>Send your money to <code><%= address %></code> to begin the mixing.</p>
			<small><em>Watch the whitespace at the end!</em></small>
		</div>
	</body>
</html>
